*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 10px 0;
}

.container-flex{
  display: flex;
}

#sobre-a-loja img {
  max-width: 400px;
  max-height: 400px;
  margin-right: 24px;
}

section{
  padding: 38px 0;
}

section h2{
  margin-bottom: 16px;
  border-bottom: 1px solid rgb(54, 54, 54);
  margin-bottom: 12px;
}

.lista-produtos{
  flex-wrap: wrap;
}

.lista-produtos li{
  list-style: none;
  max-width: 25%;
  margin-bottom: 24px;
  margin-right: 18px;
}

.lista-produtos li img{
  max-width: 214px;
  max-height: 214px;
  max-width: 100%;
}

.lista-produtos li h3{
  margin: 8px 0;
}

.preco{
  margin: 12px 0;
  font-size: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 6px;
  background-color: rgb(3, 3, 120);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/*celulares*/
@media screen and (max-width:767px){
  .container{
    display: block;
    max-width: 90%;
  }

  #sobre-a-loja img {
    max-width: 320px;
    max-height: 320px;
  }

  #sobre-a-loja h2{
    padding-top: 20px;
  }

  .produtos{
    padding: 15px 0;
  }
    
  .lista-produtos{
    flex-wrap: block;
  }

  .lista-produtos li{
    max-width: 40%;
    margin-bottom: 24px;
    margin-right: 30px;
  }

}

/*iPad*/
@media screen and (min-width:768px) and (max-width:1023px){
  .container{
    max-width: 98%;
  }

  .lista-produtos li{
    max-width: 60%;
    margin-bottom: 24px;
    margin: 0 50px;
  }

}